*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#root{
    display: grid;
    gap: 1rem;
    opacity: .9;
    background-color: #00060a;
}
footer{
    padding: 1.5rem;
    background-color: #00060a;
    display: grid;
    justify-content: center;
    box-shadow: 0px -6px 41px -14px #59bde3;
}

.footerButtons{
    display: flex;
    width: 30rem;
    justify-content: space-around;
    .nextPage , .prevPage{
        padding: 5px 10px;
        background-color: #59bde3;
        color: #031d33;
        font-family: sans-serif;
        border: none;
        border-radius: 5px;
    }
    >h5{
        width: 2rem;
        height: 2rem;
        color: #031d33;
        border-radius: 100%;
        background-color: #59bde3;
        display: grid;
        align-items: center;
        justify-content: center;
    }
}

#wrapper{
    background-color: black;
    /* opacity: .7; */
    padding-top: 1rem;

}