body::-webkit-scrollbar{
display: none;
}
#list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    height: 86vh;
    background-color: aliceblue;
    position: fixed;
    top: 4rem;
    right:0;
    border-radius: 10px;
    overflow: auto;
    overflow-y: auto;
    padding: 10px;
}
#list::-webkit-scrollbar {
    display: none;
}

#watchlist{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    border: 1px solid rgb(116, 114, 114);
    cursor: pointer;
    >#movie{
        height: auto;
        object-fit: cover;
    }
    >#details{
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        justify-content: center;
        gap: 10px;

    }
}

.end{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 800;
}