header{
    display: flex;
    position: relative;
    z-index: 5;
    justify-content: space-between;
    padding:1rem;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #00060a;
    /* border:1px solid #59bde3; */
    /* box-shadow: 0px -6px 34px -1px #59bde3; */
    width: 100%;
}
img{
    width: 100%;
    background: transparent;
}

.watchlistCollection{
    display: flex;
    border-radius: 100%;
    border: 0;
    background-color:#00060a ;
    color: #59bce3;
    display: inline-block;
    font-weight: 800;
    >.playlist{
        font-size:15px ;
    }
    >#count{
        margin-left: 5px;
        border: 1px solid aqua;
        color: #080808 !important;
        padding: 0px 4px;
        border-radius: 100%;
        background: white;
        font-weight: 900;
        font-size: 10px;
    }
    >i{
        font-size: 15px;
    }
}
.fa-thin{
    font-size: large;
}
input{
    width: 425px;
    height: 2.5rem;
    border-radius: 100px;
    border: 1px solid #7dd4a4;
    padding: 0 2rem ;
    outline: none;
    font-size: 20px;
    font-weight: 100;
    color:#031d33;
    background-color: #bcdbdf;
}
::placeholder{
    color: #136baa;
}
.search{
    position: fixed;
    z-index: 11;
    top: 1rem;
    left: calc(50% - 15rem);
}
  .button{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    border: 0;
    background-color: #f8f8f8;
    font-size: 20px;
  }
  .C_collection{
    position: fixed;
    background-color: white;
    display: flex;
    gap: 2rem;
    top: 4.6rem;
    width: 1200px;
    left: 5rem;
    padding: 10px 5px;
  }
